node_modules
server/static/ssl/**
!server/static/ssl/.gitkeep
server/static/database/profile/**
!server/static/database/profile/.gitkeep
!server/static/database/profile/unknown.jpg
yarn-error.log
.next
.build
.env