node_modules
api/static/certificates/*
!api/static/certificates/certificate.example.cert
!api/static/certificates/certificate.example.key
server/static/database/profile/*
!server/static/database/profile/.gitkeep
!server/static/database/profile/unknown.jpg
yarn-error.log
.next
.build
.env